################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CreateAzureStorageAccountUsingAzurePS.ps1
/.gitignore
